body{
    font-family:"Arial", "Meiryo", sans-serif ;
    font-size: 20px;
}
.blue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}
google-font{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-family: "Josefin Sans",sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 2px 2px gray;
    border-bottom: solid 3px color( 115 115 114);
}
body{
    text-align: center;
}
.value{
    font-weight: bold;
}